__pycache__/*
src/__pycache__/*
src/tank/__pycache__/*
src/terrain/__pycache__/*
src/feature_extractor/__pycache__/*
checkpoints/*
models/*
wandb/*
tensorboard/*
src/replays/*
replays/*
venv/*
.venv/*
*.zip
*.tar.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.mp4